.shapka{
    margin: 0;
    background-color: darkslateblue;
    height: 177px;
    min-width: 900px;
}
.logoname{
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 880px;
    font-family: 'century gothic', Arial, sans-serif;
    text-decoration: none;
    margin-top: 0%;
}
h1 h2{
    margin: 0 0 0 9px;
}
h1 a:hover{
    text-decoration: none;
    color: white;
}
h1{
    letter-spacing: 0.1em;
    padding: 20px 0 0 0;
    color: white;
    margin-top: 0;
}
h2{
    font-size: 0.9em;
    padding: 4px 0 0 0;
    color: #999;
}
a{
    text-decoration: none;
    color: white;
}